ib-page-bars {
    .grid {
        padding: 0;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    .card-left {
        margin-top: 0;
        margin-left: 0;
        width: calc(100% - 8px);
    }
    .img-logo-bar {
        position: relative;
        margin-top: -20%;
    }
    .price {
        z-index: 1;
        position: relative;
        top: 0;
        left: 50%;
        width: 30%;
        height: auto;
        transform: translateX(-50%);
        div {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -65%);
            font-size: 14px;
            display: flex;
            justify-content: center;
            color: color($colors, primary);
            font-weight: 800;
            span {
                font-weight: 400;
                margin-right: 2px;
            }
        }
    }
    .card-right {
        margin-top: 0;
        margin-right: 0;
        margin-left: 5px;
        width: calc(100% - 5px);
    }
    .col {
        padding: 0;
    }
    .bar {
        color: color($colors, primary);
        font-weight: 600;
        font-size: 18px;
    }
    .place {
        font-weight: 400;
        padding-right: 5px;
        color: color($colors, primary);
        border-right: 1px solid color($colors, primary);
    }
    .distance {
        font-weight: 400;
        color: color($colors, primary);
        margin-left: 8px;
    }


   @media (max-width: 340px) {
         .bar{
             font-size: 14px;
         }
         span{
              font-size: 12px;
         }
   }
}

  .bar-button-menutoggle-md[end], .bar-button-menutoggle-md[right]{
        width: 45px;
    }


